body {
  background-color: black;
  color: aqua;
  font-family: monospace;
}
table tr td {
  color: aqua;
  font-family: monospace;
  font-size: 15px;
  padding: 10px;
  border: 1px solid blue;
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
a {
  font-family: monospace;
}
p, li {
  color: purple;
  font-size: 12px;
  font-family: monospace;
}
.latest {
  background-color: rgba(0, 255, 0, 0.4)
}